.forecastContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.forecastList {
  display: grid;
  grid-template-columns: 120px 100px 120px 30px 30px;
  grid-template-rows: auto;
  gap: 0.5em;
  background-color: var(--color-bg);
  height: 90px;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 1em;
}
.titleNextDays {
  font-family: 'Catamaran', sans-serif;
  color: var(--color-bg-container);
  font-size: 3.2em;
}
.selectedCityCard {
  margin-top: 100px;
}
@media screen and (max-width: 490px) {
  .forecastList {
    grid-template-columns: 120px 75px 70px 30px 30px;
    padding: 0.5em;
    height: 80px;
  }
}
